{% extends "layout.html" %}
{% block content %}
            <div class="content-section">
                <form method="POST" action = "" enctype="multipart/form-data">
                    {{  form.hidden_tag() }}
        
                    <fieldset class="form-group">
                        <legend class="bottom mb-4" style="text-align: center">Cost Estimation</legend>
                        <div class="form-group ">
                            {{ form.hours.label(class="form-control-label") }}
        
                            {% if form.hours.errors %}
                                {{ form.hours(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.hours.errors %}
                                        <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.hours(class="form-control form-control-lg") }}
                            {% endif %}

                        <div class="form-group ">
                            {{ form.amount.label(class="form-control-label") }}
                            {% if form.amount.errors %}
                                {{ form.amount(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.amount.errors %}
                                        <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.amount(class="form-control form-control-lg") }}
                            {% endif %}
        
                        </div>
                        
                        
                        
                    </fieldset>

                    <div class="form-group ">
                        {{ form.submit(class="btn btn-outline-info") }}   
                    </div>
                </form>
            </div>


{%endblock%}

